<!DOCTYPE html>
<html>
<head>
    <title>Daftar Pendaftaran</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('style') }}">
    <style>
        /* Menengahkan tabel */
        table {
            margin: 0 auto;
            width: 80%;
        }
    </style>
</head>
<body>
    <h1>Daftar Pendaftaran</h1>
    <div>
        <form action="/search_json" method="POST">
            <input type="text" name="keyword" placeholder="Masukkan kata kunci pencarian">
            <button type="submit" class="search-button">Cari</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tanggal Pendaftaran</th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Telepon</th>
                <th>Jenis Kelamin</th>
                <th>Jenis Kursus</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody id="item-registrations">
        </tbody>
    </table>
    <div id="Tampilan">
        <a href="/add" class="add-button">Tambah Pendaftaran</a>
        <a href="/get_json" class="json-button">Unduh Data JSON</a>
    </div>
    <script type="text/javascript">
        // Call your JavaScript functions to perform CRUD operations here
        const itemCollection = document.getElementById('item-registrations');
        console.log("Halo");
        fetchItems();
        function fetchItems() {
            fetch('http://127.0.0.1:5000/get_json')
                .then(resp => resp.json())
                .then(renderItems);
        }
        function renderItems(items) {
            console.log(items);
            itemCollection.innerHTML = "";
            items.forEach(function (item) {
                itemCollection.innerHTML += `
                <tr data-id=${item.id}>
                    <td>${item.id}</td>
                    <td>${item.tanggal_pendaftaran}</td>    
                    <td>${item.nama}</td>
                    <td>${item.alamat}</td>
                    <td>${item.telepon}</td>
                    <td>${item.jenis_kelamin}</td>
                    <td>${item.jenis_kursus}</td>
                    <td>
                        <a href="/edit/${item.id}">Edit</a>
                        <a href="/delete/${item.id}">Hapus</a>
                    </td>
                </tr>
              `;
            });
        }
    </script>
</body>
</html>
